///////////////////logo////////////////
.logo {
  height: 3.23rem;
  margin-left: 1.7rem;
}

////////////////search//////////////////@
.search {
  //   background-color: orangered;
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.5s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translate((3px));
    }
  }

  &__icon {
    height: 2.23rem;
    width: 2.23rem;
    // if we want to change the svg color then simply use the fill property
    fill: var(--color-grey-dark-3);
  }
}

/////////////////////////User Nav///////////////////
///
///
.user-nav {
  //   background-color: greenyellow;
  align-self: stretch;
  display: flex;
  align-items: center;

  // by doing this below we can select all of the dirct children

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
    // align-self: stretch;
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.23rem;
    width: 2.23rem;

    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 10px;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.23rem;
    // width: 3.23rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

//////////////////Side Navigation////////////

.side-nav{
  &__item{

    
  }
  &__link{


  }
  &__icon{
    width: 1.75rem;
    height: 1.75rem;


  }
}

//////////////Legal text/////////////////////
/// 
/// 
.legal{
  font-size: 1.3rem;
 color: var(--color-grey-light-4);
 text-align: center;
 padding: 2.5rem;

}