.container {

   max-width: 1200px;
   margin: 8rem auto;
   background-color: var(--color-grey-light-2);
   box-shadow: var(--shadow-dark);
   min-height: 50rem;
}

.header {



   font-size: 1.4rem;
   height: 7rem;
   background-color: #fff;
   border-bottom:var(--line);
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.content {
   display: flex;


} 

.sidebar {

   background-color: var(--color-grey-dark-1);

   flex: 0 0 18%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;


}

.hotel-view {
   background-color: #fff;
   flex: 1; //flex 1 will grow the element as mush as it can 
}


.detail {
   
   font-size: 1.4rem;
   display: flex;
   padding: 4.5rem;
   background-color: var(--color-grey-light-1);
   border-bottom:  var(--line);
}

.description {
   background-color: white;
   flex: 0 0 60%; // grow // shrink // %of the flex basis 
  box-shadow: var(--shadow-light);
   margin-right: 4.5rem;
   padding: 3rem;
}


.user-reviews {

   // background-color: aqua;
   flex: 1;
   display: flex;
   flex-direction: column;
   // text-: center;
   align-items: center;
}